$darker-background: #1d2625;
$background: #282a36;
$current-line: #44475a;
$foreground: #f8f8f2;
$text: rgba(255, 255, 255, 0.6);
$minor-text: #6272a4;
$cyan: #8be9fd;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;

@mixin option-buttons {
	text-decoration: none;
	font-weight: 700;
	font-size: 1.3rem;
	letter-spacing: 1px;
	padding: 10px 0;
	margin: 1px 3px;
}

.options {
    width: 100%;
    min-height: 260px;
    padding: 15px 0;
    flex-grow: 1;
    border-top: 1px $current-line solid;
    border-bottom: 1px $current-line solid;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .selected-option {
        @include option-buttons();
        background-color: $current-line;
        color: $foreground;
    }

    .option {
        @include option-buttons();
        color: $text;

        &:hover {
            background-color: $current-line;
            opacity: 0.3;
            color: $foreground;
            transition: background-color 0.6s ease-out;
        }
    }
}

