$darker-background: #1d2625;
$background: #282a36;
$current-line: #44475a;
$foreground: #f8f8f2;
$text: rgba(255, 255, 255, 0.6);
$minor-text: #6272a4;
$cyan: #8be9fd;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;

.nav-bar {
	width: 300px;
	height: 100%;
	background-color: $darker-background;
	color: $text;
	border-right: 1px $current-line solid;
	flex-shrink: 0;
	overflow: auto;
	z-index: 1;
	transition: all 0.7s ease-out;

	display: flex;
	flex-direction: column;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	.nav-bar {
		width: 230px;
	}
}