.App {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.body {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    overflow: auto;
    transition: all 0.7s;
    padding: 100px 10px;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media only screen and (max-width: 1024px) {
    .body {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
}

@media only screen and (max-width: 700px) {
    .body .fixed-header {
        height: 44px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #282a36;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    }
}